.wy-table-responsive table td, .wy-table-responsive table th{
	white-space: normal;
}

.wy-table-responsive .col-3rem table td, .wy-table-responsive .col-3rem table th{
	min-width: 3rem;
}

.wy-table-responsive .col-5rem table td, .wy-table-responsive .col-5rem table th{
	min-width: 5rem;
}

.wy-table-responsive .col-10rem table td, .wy-table-responsive .col-10rem table th{
	min-width: 10rem;
}

.wy-table-responsive .col-15rem table td, .wy-table-responsive .col-15rem table th{
	min-width: 15rem;
}

