.wy-nav-side{
	background-color: #333;
}

@media screen and (min-width:768px){
	
	/* .wy-grid-for-nav{
		display: flex
	}
	
	.wy-nav-side{
		inset: auto;
		position: relative;
		flex-shrink: 0;
	} */
	.wy-nav-content-wrap{
		/* margin: 0; */
		/* width: 100%; */
		background-color: #fcfcfc;
	}
	.wy-nav-content{
		max-width: 60rem;
		margin: 0 auto;
	}
}



.wy-table-responsive table td, .wy-table-responsive table th{
	white-space: normal;
}

.wy-table-responsive table.col-3rem td, .wy-table-responsive table.col-3rem th{
	min-width: 3rem;
}

.wy-table-responsive table.col-5rem td, .wy-table-responsive table.col-5rem th{
	min-width: 5rem;
}

.wy-table-responsive table.col-10rem td, .wy-table-responsive table.col-10rem th{
	min-width: 10rem;
}

.wy-table-responsive table.col-15rem td, .wy-table-responsive table.col-15rem th{
	min-width: 15rem;
}

.rst-content .card blockquote{
	margin: 0;
}

.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
	margin-block: .5rem;
}
